/* CSS Reset */
div, p, h1, h2, h3, h4, h5, h6, img {
    margin: 0px;
    padding: 0px;
}

/* Global styling */
body {
    /*background-color: #ffffff;*/
}
p {
    line-height: 1.2em;
    font-size: 1.2em;
}

/* Utility */
.home-border {
    border: 2px solid black;
    background-color: white;
}

/* --- Homepage --- */

/* Homepage header and landing */
#home-header-img {
    width:100%;
    height: 100%;
    padding: 5em 0em;
    background-image: url("https://via.placeholder.com/1028x200");
    background-size: cover;
}

#home-header {
    width: 35em;
}

#home-header-tagline {
    font-size: 2em;
}

#home-header-action {
    width: 40%;
    margin: 1em 5%;
    font-size: 1.4em;
    border-radius: 7px;
}

/* Home images */
.home-img {
    width: 300px;
    height: auto;
}

/* Spacers */
.intro-spacer {
    border-width: 2px 0px;
    border-style: solid;
    border-color: black;
}

.spacer {
    width: 100%;
    border-top: 2px solid black;
}

/* Bottom button */
.bottom-action {
    font-size: 1.4em;
    width: 170px;
    border-radius: 7px;
}

/* Footer */
#footer {
    background-color: black;
}

@media (max-width: 610px) {

}
