body {
  position: relative;
    color: #0077b5;
    color: #dde6ea;
    color: #283e4a;
    color: #434649;
}
.affix {
    height: 300px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #5555;
}
.roundedframe{
  height: 300px;
  width: 300px;
}

#section1, #section2, #section3, #section4, #section5{
    background-color: #6666;
}

@media screen and (min-width: 810px) {
  #section1, #section2, #section3, #section4, #section5  {
      margin-left: 150px;
  }
  .secspacing{
    padding-top: 50px;
    padding-bottom: 400px;
    margin-bottom: 200px;
  }
}
