body {
  position: relative;
}
h1{
  color: #0077b5;
}
h1:hover{
  color: #283e4a;
  text-decoration: none;
}
footer{
  line-height: 3.0em;
  font-size: 1.2em;
  height: 12%;
  color: #dde6ea;
  background-color: #434649;
}
.rightpadding{
  padding-right: 50px;
}
.nav>li>a:hover{
  background-color: #434649;
  color: #dde6ea;
  padding: 15px;
}
.spypadding {
  margin-top: 130px;
  width: 12%;
}
.affix {
    height: 300px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #283e4a;
}
.secspacing{
  padding-top: 250px;
  padding-bottom: 500px;
  margin-top: 200px;
}
.roundedframe{
  height: 100%;
  width: 100%;
}
#section1, #section2, #section3, #section4, #section5{
    background-color: #dde6ea;
    margin-left: 100px;
    margin-bottom: 200px;
}
