.contact_info{
  float: right;
  font-size: 100%;
}
.mummy{
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 5px 2px #434649;
}
.jumbotron{
  background-image: url(images/header.jpg);
  padding: 5%;
  background-position: right top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  margin-bottom: 2%;
}
.jumbotron h1{
  text-align: center;
  color: #dde6ea;
  padding-top: 7%;
}
.p {
  font-size: 200%;
}
.container li{
  font-size: 200%;
}
footer{
  background-color:  black;
  color: white;
  padding: .5%;
  text-align: center;
}
nav {
  background-color: #dde6ea;
}
